.pad-container { height: 100%; display: flex;  flex-direction: column; }
.pad-container > div:nth-child(1) { flex-grow: 1; }
.pad-container > div:nth-child(2) { flex-grow: 3; }

.phonenumber-print-container { display: flex; justify-content: center; text-align: center; font-size: 34px; }
.phonenumber-print-container > div { align-self: center; }

.number-pad-container { height: 100%; display: flex; flex-direction: row; flex-wrap: wrap; }
.number-pad-container > button { flex: 1 0 30%; text-align: center; background-color: #fff; border: 1px solid #dcdcdc; margin: -1px -1px; font-size: 24px; font-weight: 100; }
.number-pad-container > button:active { background-color: #dcdcdc; }

.number-pad-container > button.collection_btn { background-color: orange; }

.home-container { background-color: #ffffff; height: 100vh; }
.home-container > div:nth-child(1) { flex-basis: 80%; justify-content: center; align-items: center; }
.home-container > div:nth-child(2) { flex-basis: 20%; border-top: 1px solid #dcdcdc; }

.home-container > div:nth-child(2) > div:nth-child(1) {  flex-basis: 50%; }
.home-container > div:nth-child(2) > div:nth-child(2) {  flex-basis: 50%; border-left: 1px solid #dcdcdc;}
.home-container > div:nth-child(2) > div:nth-child(2) > button { width: 50%; height: 100%; border: 0; border-radius: 0; font-weight: bold; font-size: 24px; }

.flex { display: flex; }
.flex.column { flex-direction: column; }
.flex.row { flex-direction: row; }


